.product__file__container {
    --size: 100%;

    uc-file-uploader-regular {
        display: block;
        width: var(--size);
        aspect-ratio: 1;
        --uc-simple-btn: transparent;
        --uc-radius: 0;
        --uc-simple-btn-hover: var(--beige);
        --uc-button-size: 1.5em;
    }

    uc-simple-btn {
        width: 100%;
        height: 100%;

        button {
            width: 100%;
        }

        span {
            display: none;
        }
    }

    uc-copyright {
        display: none !important;
    }

    uc-icon[name="upload"] {
        content: url(https://cdn.prod.website-files.com/6970e1b322f6f039ccc1ab16/69b3f501262e75b94a8612eb_file-upload.svg);

        svg {
            display: none;
        }
    }

    .product__file__preview {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}

.product__file__preview {
    position: relative;
    height: 100%;
    aspect-ratio: 1;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__delete {
        position: absolute;
        top: 0.25em;
        right: 0.25em;
        background: var(--text);
        border: 1px solid var(--bg);
        color: var(--bg);
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.8;
        }
    }
}
