[data-locale='EN'],
[data-locale='en'] {
    display: none;
}

[data-locale='FR'],
[data-locale='fr'] {
    display: block;

    &.inline {
        display: inline;
    }
}

html[data-locale-current='EN'] {
    [data-locale='EN'],
    [data-locale='en'] {
        display: block;

        &.inline {
            display: inline;
        }
    }
    
    [data-locale='FR'],
    [data-locale='fr'] {
        display: none;
    }
}

html[data-locale-current='FR'] {
    [data-locale='FR'],
    [data-locale='fr'] {
        display: block;

        &.inline {
            display: inline;
        }
    }
    
    [data-locale='EN'],
    [data-locale='en'] {
        display: none;
    }
}
